@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Roboto/Roboto-Regular.ttf) format('ttf');
  }
  @font-face {
    font-family: 'SFProDisplay';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/fonts/Roboto/SF-Pro-Display-Regular.ttf) format('ttf');
  }
}